doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Jualio, Cara Aman dan Mudah Jual Beli via Media Sosial')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Jualio
    // Add to homescreen for Chrome on Android
    meta(name='mobile-web-app-capable', content='yes')
    link(rel='icon', size='192x192', href='/assets/images/touch/chrome-touch-icon-192x192.png')
    // Add to homescreen for Safari on iOS
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='apple-mobile-web-app-status-bar-style', content='Jualio')
    link(rel='apple-touch-icon-precomposed', href='/assets/images/touch/apple-touch-icon-precomposed.png')
    // Tile icon for Win8 (144x144 + tile color)
    meta(name='msapplication-TileImage', content='/assets/images/touch/ms-touch-icon-144x144-precomposed.png')
    meta(name='msapplication-TileColor', content='#3372DF')
    // SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones
    // <link rel='canonical' href='http://www.example.com/'>
    link(rel='stylesheet', href='/assets/css/bootstrap.min.css', type='text/css')
    link(rel='stylesheet', href='/assets/css/style.min.css', type='text/css')
  body
    section#root
    script(src='/assets/scripts/app.min.js').
