

// Fonts
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import 
	"modules/fonts",
	"mixins",
	"themes/default/theme",

	"../../../bower_components/font-awesome/scss/font-awesome",
	"../../../bower_components/animate-sass/animate",
	"vendor/jquery-scrollbar",
	"vendor/icon-set",
	"vendor/magic-space",
	"vendor/pace",
	"vendor/dropzone",
	"vendor/datatable",
	"vendor/select2",
	"vendor/tagsinput",
	"vendor/xeditable",
	"vendor/bootstrap-datepicker",
	"vendor/owlcarousel",
	"vendor/soundmanager",

	"modules",
	"pages/payment",
	"pages/profile",
	"responsive"
;